$theme-colors: (
  title-bar: (
    light: linear-gradient(to top, #cccccc 0%, #d6d6d6 1px, #ebebeb 100%),
    dark: #333
  ),
  border: (
    light: #ddd,
    dark: #454545
  ),
  nav-bar: (
    light: linear-gradient(to top, #cccccc 0%, #d6d6d6 1px, #ebebeb 100%),
    dark: #333,
    vscode: #0077d5,
    dark-grad: linear-gradient(to right, rgb(84, 51, 255), rgb(0, 171, 255), rgb(48, 217, 239)),
    light-grad: linear-gradient(to right, rgb(84, 51, 255), rgb(0, 171, 255), rgb(48, 217, 239))
  ),
  nav-bar-text: (
    light: #333,
    dark: #c1c1c1,
    vscode: #fff
  ),
  preferences: (
    light: #fff,
    dark: #222,
    vscode: #222
  ),
  preferences-text: (
    light: #333,
    dark: #fff,
    vscode: #fff
  )
);

@function theme-color($key: "base", $variant: "base") {
  $map: map-get($theme-colors, $key);

  @return map-get($map, $variant);
}

.theme-light {
  .draggable-title-bar {
    background: theme-color(title-bar, light);
  }

  .nav-bar {
    color: theme-color(nav-bar-text, light);
    background: theme-color(nav-bar, light);
    border-top: 1px solid theme-color(border, light);

    select {
      color: theme-color(nav-bar-text, light);
    }
  }

  .preferences {
    background-color: theme-color(preferences, light);
    color: theme-color(preferences-text, light);
  }

  .vim-status-bar {
    color: theme-color(nav-bar-text, light);

    input {
      color: theme-color(nav-bar-text, light);
    }
  }
}

.theme-dark {
  .draggable-title-bar {
    background: theme-color(title-bar, dark);
  }

  .nav-bar {
    color: theme-color(nav-bar-text, dark);
    background: theme-color(nav-bar, dark);
    border-top: 1px solid theme-color(border, dark);

    select {
      color: theme-color(nav-bar-text, dark);
    }
  }

  .preferences {
    background-color: theme-color(preferences, dark);
    color: theme-color(preferences-text, dark);
  }

  .close:before,
  .close:after {
    background-color: theme-color(preferences-text, dark);
  }

  .vim-status-bar {
    color: theme-color(nav-bar-text, dark);

    input {
      color: theme-color(nav-bar-text, dark);
    }
  }
}


.theme-vscode {
  .draggable-title-bar {
    background: theme-color(title-bar, dark);
  }

  .nav-bar {
    color: theme-color(nav-bar-text, vscode);
    background: theme-color(nav-bar, vscode);
    border-top: 1px solid theme-color(border, dark);

    select {
      color: theme-color(nav-bar-text, vscode);
    }
  }

  .preferences {
    background-color: theme-color(preferences, vscode);
    color: theme-color(preferences-text, vscode);
  }

  .close:before,
  .close:after {
    background-color: theme-color(preferences-text, vscode);
  }

  .vim-status-bar {
    color: theme-color(nav-bar-text, vscode);

    input {
      color: theme-color(nav-bar-text, vscode);
    }
  }
}

.theme-dark-grad {
  .draggable-title-bar {
    background: theme-color(title-bar, dark);
  }

  .nav-bar {
    color: theme-color(nav-bar-text, vscode);
    background: theme-color(nav-bar, dark-grad);
    border-top: 1px solid theme-color(border, dark);

    select {
      color: theme-color(nav-bar-text, vscode);
    }
  }

  .preferences {
    background-color: theme-color(preferences, dark);
    color: theme-color(preferences-text, dark);
  }

  .close:before,
  .close:after {
    background-color: theme-color(preferences-text, dark);
  }

  .vim-status-bar {
    color: theme-color(nav-bar-text, vscode);

    input {
      color: theme-color(nav-bar-text, vscode);
    }
  }
}

.theme-light-grad {
  .draggable-title-bar {
    background: theme-color(title-bar, light);
  }

  .nav-bar {
    color: theme-color(nav-bar-text, dark);
    background: theme-color(nav-bar, light-grad);
    border-top: 1px solid theme-color(border, light);

    select {
      color: theme-color(nav-bar-text, dark);
    }
  }

  .preferences {
    background-color: theme-color(preferences, light);
    color: theme-color(preferences-text, light);
  }

  .vim-status-bar {
    color: theme-color(nav-bar-text, dark);

    input {
      color: theme-color(nav-bar-text, dark);
    }
  }
}